<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
    <div class = 'container'>
        <div id='navBar'>
          <a href='/'>Home</a> <span id='line'>|</span>
          <a href='/assassins'>Assassins</a> <span id='line'>|</span>
          <a href='/contracts'>Contracts</a> <span id='line'>|</span>
          <a href='/jobs'>Current Jobs</a> <span id='line'>|</span>
          <a href='/signup'>Sign up for a job</a> <span id='line'>|</span> 
          <a href='/newcontract'>Create a new contract</a> 
        </div>
    </div>
  <div class='container'>
    <h1 class='title'>Assassins</h1>
      <div class= 'sortList'>
          <a href= '/mostkills'>Select all the assassins, sorted by number of kills.</a><br>
          <a href= '/old'>Select all of the assassins older than 30 years old.</a><br>
          <a href= '/norman'>Number of assassins that are capable of taking out Norman Stansfield.</a><br>
          <a href= '/staff'>Total assassins currently on staff.</a><br>

      </div>
      <br>
      <br>  
  </div>
  <div>
    <a href= '/editassassin'>
      <button>Add or Revise an Assassin</button>
    </a>
      
  </div>

  
</body>
</html>