<link href="/style.css" rel="stylesheet" >
<% include header %>

      <h1 class='title'>Please provide the following information about yourself</h1>

      <form action="/assassins-add/done" method = "post">
      
        <div>
            <label for="name">your name:</label>
            <input type="text" id="name" name="name"  >
          </div>
          <br>
          <div>
            <label for="code_name">your code name:</label>
            <input type="text" id="code_name" name="code_name" >
          </div>
          <br>
          <div>
            <label for="weapon">your weapon of choice:</label>
            <input type="text" id="weapon" name="weapon" >
          </div>
          <br>
          <div>
            <label for="age">your age:</label>
            <input type="integer" id="age" name="age">
          </div>
          <br>
          <div>
            <label for="price">your price:</label>
            <input type="integer" id="price" name="price">
          </div>
          <br>
          <div>
            <label for="assassin_photo">your avatar:</label>
            <input type="string" id="assassin_photo" name="assassin_photo" >
          </div>
          <br>
          <div>
              <label for="kills">number of kills:</label>
              <input type="integer" id="kills" name="kills" >
            </div>
            <br>
            <div>
                <label for="rating">your rating:</label>
                <input type="decimal" id="rating" name="rating" >
              </div>
              <br>
            <div>
                <label for="contact_info">email:</label>
                <input type="text" id="contact_info" name="contact_info" >
              </div>
              <br>
              
          <button type = "submit">submit</button>
      </form>

</div>
</body>
