<link href="/style.css" rel="stylesheet">

<% include header %>

<h1 class='title'>Great work!!!</h1>
<div class ='home'>
  <p>
      <img src="https://i.kym-cdn.com/photos/images/newsfeed/000/048/783/a_winner_is_you20110724-22047-1nd3wif.jpg?1311564834" alt="winner">
  </p>
</div>
