<form action="newassassin" method = "post">
  <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name">
    </div>
    <br>
    <div>
      <label for="code_name">Code Name:</label>
      <input type="text" id="code_name" name="code_name">
    </div>
    <br>
    <div>
      <label for="weapon">Weapon:</label>
      <input type="text" id="weapon" name="weapon">
    </div>
    <br>
    <div>
      <label for="age">Age:</label>
      <input type="integer" id="age" name="age">
    </div>
    <br>
    <div>
      <label for="price">Price:</label>
      <input type="integer" id="price" name="price">
    </div>
    <br>
    <br>
    <button type = "submit">Submit</button>
</form>