<link href="/style.css" rel="stylesheet">

<% include header %>

<h1 class='title'>Thanks for being part of our team!</h1>
<div class ='home'>
  <img src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX25727286.jpg" alt="team">
</div>
