<header>
    <a href="/">
      <img src="https://cdn2.iconfinder.com/data/icons/picons-basic-1/57/basic1-154_danger_skull_death-512.png" alt="">
      <div id= "headerdiv">
        <h3>Killbase</h3>
      </div>
    </a>
    
    <div class='searchbox'>
    <form action="/search" method='post'>
        <input class="radio" type="radio" name="contracts"> Contracts
        <input class="radio" type="radio" name="assassins"> Assassins
        <input class= "search" type="text" name="searchterm" placeholder="search">
        <button class ="go" type = "submit">Go</button>
      </form>  
    </div>

  </header>
  
  <body>
    <div class = 'container'>
      
      <div id='navBar'>
        <a href='/assassins'><p>Assassins</p></a>
        <a href='/contracts'><p>Contracts</p></a> 
        <a href='/assassins-add'><p>Join the team</p></a> 
        <a href='/contracts-add'><p>Create a new contract</p></a>   
      </div class='home'>


      