<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="./style.css" rel="stylesheet" >
  <title>Killbase</title>
</head>
<header>
  <a href="/">
    <img src="https://cdn2.iconfinder.com/data/icons/picons-basic-1/57/basic1-154_danger_skull_death-512.png" alt="">
    <div id= "headerdiv">
      <h3>Killbase</h3>
    </div>
  </a>
</header>
<body>
  <div class = 'container'>
    <div id='navBar'>
      <a href='/assassins'><p>Assassins</p></a>
      <a href='/contracts'><p>Contracts</p></a> 
      <a href='/editassassin'><p>Register</p></a> 
      <a href='/signup'><p>Sign up for a job</p></a>
      <a href='/newcontract'><p>Create a new contract</p></a>   
    </div>
    <h1>We get the job done</h1>
    <div class = "home">
        <a href= "/assassins">
          <img class="homephoto" src="https://cdn2.iconfinder.com/data/icons/perfect-flat-icons-2/512/Spy_user_agent_webroot_undercover_sweeper.png" alt="killer">
        </a>
        <a href="/contracts">
          <img class="homephoto" src="https://cateringinstitute.com/files/2015/03/target-300x300.png" alt="target">
        </a>
        <a href="/assassins">
          <h1 class="homephoto">Assassins</h1>
        </a>
        <a href="/contracts">
          <h1 class="homephoto">Contracts</h1>
        </a>

    </div>

  </div>
</body>
</html>