<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Killbase</title>
</head>
<body>
  <div class = 'container'>
    <h1 class='title'>KillBase</h1>
    <div id='navBar'>
      <a href='/assassins'>Assassins</a> <span id='line'>|</span>
      <a href='/contracts'>Contracts</a> <span id='line'>|</span>
      <a href='/jobs'>Current Jobs</a> <span id='line'>|</span>
      <a href='/signup'>Sign up for a job</a><span id='line'>|</span> 
      <a href='/newcontract'>Create a new contract</a> 
      
    </div>


  </div>


</body>
</html>