<link href="./style.css" rel="stylesheet" >


<link href="./style.css" rel="stylesheet" >
<body>
    <div id='navBar'>
        <a href='/'>Home</a>
        <a href='/assassins'>Assassins</a>
        <a href='/contracts'>Contracts</a> 
        <a href='/newassassin'>Register</a> 
        <a href='/signup'>Sign up for a job</a>
        <a href='/newcontract'>Create a new contract</a>   
      </div>
  </div>
  <h1>Assassins sorted by number of kills</h1>
  <ul>
    <% assassins.forEach( (assassin) =>  { %>
      <li>
        <a>
          <%= assassin.code_name ? assassin.code_name : assassin.name %>, with <%=assassin.kills%> kills
        </a>  
      </li>
    <% }); %>

  </ul>
</body>


