<body>
    <div class = 'container'>
        <div id='navBar'>
          <a href='/'>Home</a> <span id='line'>|</span>
          <a href='/assassins'>Assassins</a> <span id='line'>|</span>
          <a href='/contracts'>Contracts</a> 
        </div>
    </div>
    <h1>Thank you. We'll be in touch soon.</h1>
    
  </body>
  