<link href="./style.css" rel="stylesheet" >

<body>
    <div class = 'container'>
        <div id='navBar'>
            <a href='/'>Home</a>
            <a href='/assassins'>Assassins</a>
            <a href='/contracts'>Contracts</a> 
            <a href='/newassassin'>Register</a> 
            <a href='/signup'>Sign up for a job</a>
            <a href='/newcontract'>Create a new contract</a>   
          </div>
    </div>
    <h1>Thank you. We'll be in touch soon.</h1>
    
  </body>