<link href="./style.css" rel="stylesheet" >


<body>
    <div class = 'container'>
        <div id='navBar'>
            <a href='/'>Home</a>
            <a href='/assassins'>Assassins</a>
            <a href='/contracts'>Contracts</a> 
            <a href='/newassassin'>Register</a> 
            <a href='/signup'>Sign up for a job</a>
            <a href='/newcontract'>Create a new contract</a>   
          </div>
    </div>
    <h1>Number of assassins that are capable of taking out Norman Stansfield.</h1>
    <ul>
      
        <li>
          <a>
            <%= assassin[0].count%> assassins can kill Norman Stansfield
          </a>  
        </li>
      
  
    </ul>
  </body>
  
  