<body>
    <div class = 'container'>
        <div id='navBar'>
          <a href='/'>Home</a> <span id='line'>|</span>
          <a href='/assassins'>Assassins</a> <span id='line'>|</span>
          <a href='/contracts'>Contracts</a> 
        </div>
    </div>
    <h1>Assassins older than 30</h1>
    <ul>
      <% assassins.forEach( (assassin) =>  { %>
        <li>
          <a>
            <%= assassin.code_name ? assassin.code_name : assassin.name %>, at <%=assassin.age%> years old
          </a>  
        </li>
      <% }); %>
  
    </ul>
  </body>
  
  