<link href="/style.css" rel="stylesheet">

<% include header %>

<h1 class='title'>Quitter!</h1>
<div class ='home'>
  <p>
      <img src="https://nirandfar.com/wp-content/uploads/2012/01/im-a-quitter.jpg" alt="team">
  </p>
</div>
