<link href="./style.css" rel="stylesheet" >


<body>
    <div id='navBar'>
        <a href='/'>Home</a>
        <a href='/assassins'>Assassins</a>
        <a href='/contracts'>Contracts</a> 
        <a href='/newassassin'>Register</a> 
        <a href='/signup'>Sign up for a job</a>
        <a href='/newcontract'>Create a new contract</a>   
      </div>
    </div>
    <h1>We proudly have <%= assassins[0].count%> assassins on staff. Call to book now!</h1>
    
  </body>