<body>
    <div class = 'container'>
        <div id='navBar'>
          <a href='/'>Home</a> <span id='line'>|</span>
          <a href='/assassins'>Assassins</a> <span id='line'>|</span>
          <a href='/contracts'>Contracts</a> 
        </div>
    </div>
    <h1>We proudly have <%= assassins[0].count%> assassins on staff. Call to book now!</h1>
    
  </body>