<body>
    <div class = 'container'>
        <div id='navBar'>
          <a href='/'>Home</a> <span id='line'>|</span>
          <a href='/assassins'>Assassins</a> <span id='line'>|</span>
          <a href='/contracts'>Contracts</a> 
        </div>
    </div>
    <h1>Total amount to hire all assassins</h1>
      
          <a>
           $ <%= sum[0].sum%> dollars
          </a>  
      
  </body>