<link href="./style.css" rel="stylesheet" >


<body>
    <div class = 'container'>
        <div id='navBar'>
            <a href='/'>Home</a>
            <a href='/assassins'>Assassins</a>
            <a href='/contracts'>Contracts</a> 
            <a href='/newassassin'>Register</a> 
            <a href='/signup'>Sign up for a job</a>
            <a href='/newcontract'>Create a new contract</a>   
        </div>
    </div>
    <h1>Contracts for Nikita Mears</h1>
    <ul>
      <% contracts.forEach( (contract) =>  { %>
        <li>
          <a>
            <%= contract.target_name %> 
          </a>  
        </li>
      <% }); %>
  
    </ul>
  </body>
  
  